<!DOCTYPE html>
<html>
  <head>
    <title>TELLERS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="wrapper">
  <header>
    <div class="menu_bar">
      <img src ="/title.png">
      <div class="menu_list">
        <ul>
          <li class="btn"><a href="/">TOP</a></li>
          <li class="btn"><a href="#">カテゴリ</a></li>
        </ul>
      </div>
      <div class="form">
        <input type="text" name="search" class="form_area" placeholder="タイトル名で検索">
        <input type="submit" name="submit" class="search_btn" value="検索">
      </div>
      <div class="info">
        <div class="info__user_name">
        <% if user_signed_in? %>
        <p><%= link_to current_user.name, user_path(current_user)%></p>
        <% end %>
        </div>
        <% if user_signed_in? %>
         <ul>
          <li class="btn"><%= link_to "新規投稿", new_post_path %></li>
          <li class="btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
        <% else %>
        <ul>
          <li class="btn"><%= link_to "新規登録", new_user_registration_path %></li>
          <li class="btn"><%= link_to "ログイン", new_user_session_path %></li>
        </ul>
        <% end %>
      </div>
    </div>
  </header>

    <%= yield %>

  <footer>
    <div class="footer_menu">
      <a href="#">投稿時の注意</a>
      <a href="#">TOP</a>
      <a href="#">お問い合わせ</a>
  </footer>
  </div>

  </body>
</html>
