<!DOCTYPE html>
<html>
  <head>
    <title>TELLERS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="wrapper">
  <header>
    <div class="menu_bar">
      <a href="/"><img src ="/title.png"></a>
        <ul class="dropdwn">
          <li>カテゴリ
            <ul class="dropdwn_menu">
                <li><a href="/categories/1">怪談</a></li>
                <li><a href="/categories/2">奇妙な話</a></li>
                <li><a href="/categories/3">都市伝説</a></li>
                <li><a href="/categories/4">実話体験談</a></li>
                <li><a href="/categories/5">その他</a></li>
            </ul>
          </li>
        </ul>
      <div class="form">
        <%= form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
          <%= form.submit "検索", class: "search_btn" %>
        <% end %>
      </div>
      <div class="info">
        <div class="info__user_name">
        <% if user_signed_in? %>
        <p><%= link_to current_user.name, user_path(current_user)%></p>
        <% end %>
        </div>
        <% if user_signed_in? %>
         <ul>
          <li class="btn"><%= link_to "新規投稿", new_post_path %></li>
          <li class="btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
        <% else %>
        <ul>
          <li class="btn"><%= link_to "新規登録", new_user_registration_path %></li>
          <li class="btn"><%= link_to "ログイン", new_user_session_path %></li>
        </ul>
        <% end %>
      </div>
    </div>
  </header>

    <%= yield %>

  <footer>
    <div class="footer_menu">
      <a href="#">投稿時の注意</a>
      <a href="/">TOP</a>
      <a href="#">お問い合わせ</a>
  </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </body>
</html>
